<div class="container">
	<div class="row">
		<div class="col-md-4 column">
			<h3>Component - Event - Binding</h3>

			<search-box></search-box>
					
			<color-picker #picker (color)="previewer.color = $event"></color-picker>

			<color-previewer #previewer></color-previewer>

			<button (click)="picker.reset()">Reset</button>
		</div>

		<div class="col-md-4 column">
			<h3>Directives</h3>
		</div>

		<div class="col-md-4 column" style="border: none;">
			<h3>Services</h3>
		</div>
	</div>
</div>