<div class="container">
	<div class="row">
		<div class="col-md-4 column">
			<h3>Component - Event - Binding</h3>

			<search-box></search-box>
					
			<color-picker #picker (color)="previewer.color = $event"></color-picker>

			<color-previewer #previewer></color-previewer>

			<button (click)="picker.reset()">Reset</button>
		</div>

		<div class="col-md-4 column">
			<h3>Directives</h3>

			<div 
				#tg="collapsible" 
				toggle-on-click 
				[toggled]="toggled" 
				(toggled)="onToggle($event)"
				[class.toggled]="tg.toggled"
			>
				<p class="toggleClick">Click here to toggle background color</p>		
			</div>

			<users>
				<user id="1" name="Dinh Trung"></user>
				<user id="2" name="Tran Cuong"></user>
				<user id="3" name="Thai Hung"></user>
				<user id="3" name="Pham Trong"></user>
				<user id="4" name="Do Tuan"></user>
				<user id="5" name="Quang Anh"></user>
			</users>
		</div>

		<div class="col-md-4 column" style="border: none;">
			<h3>Services</h3>
		</div>
	</div>
</div>